body {
  background-color: #111724;
  font-family: Tahoma, sans-serif;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1em;
}

.card {
  background-color: #141b29;
  border-radius: 20px;
}

ul {
  list-style-type: square;
}

#go-up {
  position: fixed;
  right: 0px;
  bottom: 0px;
  border: none;
  background-color: #111724;
  border-radius: 50%;
  padding: 0px;
}

header {
  margin-bottom: 3em;
  display: flex;
  flex-flow: row wrap;
  column-gap: 2rem;
  justify-content: flex-start;
}

.profile-image {
  border-radius: 50%;
  border: white;
  border-style: solid;
}

.title {
  margin-bottom: 2em;
  align-self: center;
}

a {
  color: white;
  background-color: #141b29;
  border-radius: 10%;
  border: 0.5px solid white;
  padding: 0.5em;
  text-decoration: none;
  display: inline-block;
}

section {
  margin-bottom: 3em;
}
